.my-theme {
    --main-color: #4ea8de;
    --main-hover-text-shadow-color: #fff;
    --main-text-color: #fff;
    --main-border-color: #fff;
    --main-heart-color: #ff0000;
    --main-footer-bg-color: #5390d9;
    --btn-intro-padding: 15px 56px;
    --btn-main-padding: 10px 33px;
    --btn-font-size: 24px;
}