

/* Main ========================================= */
.main {
    margin: 50px 0;
}

.main__container {
    max-width: 1350px;
    margin: 0 auto;
}

.main__boxes {
    display: flex;
    flex-wrap: wrap;
}

.main__box {
    flex: 0 1 25%;
    display: flex;
    margin-bottom: 20px;
}

.main__card {
    width: 100%;
    text-align: center;
    padding: 50px 15px 50px;
    border: 3px solid var(--main-color);
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
}

.main__image img {
    width: 100%;
}

.main__title {
    margin-bottom: 35px;
    font-weight: bold;
    font-size: 24px;
}
.main__text {
    padding: 0px 48px;
    margin-bottom: 45px;
    flex: 1 1 auto;
}

.main__text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
}

/* Media ======================================== */

@media (max-width: 1300px) {
    .main__boxes {
        padding: 0px 20px;
    }
    
    .main__box {
        flex: 0 1 50%;
    }
}

@media (max-width: 767px) {
    .main__box {
        flex: 0 1 100%;
    }
    .intro__heading {
        font-size: 65px;
    }
    .intro {
        height: 300px;
    }
}

@media (max-width: 450px) {
    .intro__heading {
        font-size: 45px;
    }
}


