*, *::after, *::before {
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

html {
    margin: 100px 0px;
}

body {
    font-family: Arial, Helvetica,  sans-serif;
    font-size: 18px;
    color: #333;
}

h3 {
    text-decoration: none;
    border-bottom: 3px solid #e36d6d;
}

a {
    color: blue;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
}

.wrapper__head {
    display: flex;
    justify-content: space-between;
}

.wrapper__info {
    align-self: center;
}

.wrapper__name {
    border-bottom: 3px solid #e36d6d;
}

.wrapper__image {
    width: 200px;
    height: 300px;
}

.wrapper__photo img {
    width: 100%;
    padding: 10px;
    border: 3px solid #ff0202;
}

.wrapper__profession {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    border-bottom: 3px solid #e36d6d;
}

table {
    width: 100%;
    border: none;
    border-spacing: 5px;
}

th, td {
    border: 2px solid #000;
    border-radius: 8px;
    padding: 10px;
    background-color: #def8ff;
}

th {
    text-transform: uppercase;
    background-color: #75d0e7;
}

table td:hover {
    background-color: #b6efff;
}

td:last-child {
    font-weight: 700;
}

.wrapper__name {
    font-style: italic;
}

a {
    color: #00f;
    text-decoration: underline;
}

a:visited {
    color: #005;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

.wrapper__skills {
    text-align: right;
}

.wrapper__skills ul li {
    list-style: none;
    position: relative;
    padding: 0 25px 0 0;
    line-height: 1.8;
}

.wrapper__skills ul li::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #ff0202;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #ff0202;
}






