

/* Main ========================================= */
.main {
    margin: 50px 0;
}

.main__container {
    max-width: 1550px;
    margin: 0 auto;
}

.main__box {
    display: flex;
}

.main__card {
    flex: 0 1 25%;
    text-align: center;
    padding: 61px 15px 126px;
    border: 3px solid #3a921b;
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}

.main__image {
    margin-bottom: 25px;
}

.main__title {
    margin-bottom: 35px;
    font-weight: bold;
    font-size: 24px;
}
.main__text {
    padding: 0px 48px;
    margin-bottom: 45px;
    flex: 1 1 auto;
}

.main__text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
}

.btn-main {
    padding: 10px 33px;
    align-self: center;
}

