.main-theme {
    --main-color: #0ead69;
    --main-hover-text-shadow-color: #fff;
    --main-text-color: #fff;
    --main-border-color: #fff;
    --main-heart-color: #ee4266;
    --main-footer-bg-color: #3bceac;
    --btn-intro-padding: 15px 56px;
    --btn-intro-padding-media: 10px 36px;
    --btn-main-padding: 10px 33px;
    --btn-font-size: 24px;
}